body {
    background-image: url("img/Desarrollo2.jpg");
}

.Contenedor {
    background-color: rgb(20, 20, 20);
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 40px;
    border: 2px solid;
    border-color: rgb(214, 0, 0);
}

.Titulo2 {
    display: flex;
    justify-content: center;
}

.imagen {
    display: flex;
    float: left;
    margin: 0px;
    padding-bottom: 20px;
    width: 100px;
    height: 100px;
}

.imagen2 {
    display: flex;
    float: right;
    margin: 0px;
    padding-bottom: 20px;
    width: 100px;
    height: 100px;
}

.Titulo {
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-right: 0%;
}

.Imagen3 {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-left: 35%;
    width: 230px;
    height: 150px;
}

.Reserva2 {
    display: Flex;
    align-items: center;
    justify-content: center;
}

.Reserva {
    padding-left: 30%;
    color: rgb(220, 220, 220);
}

.Calendario {
    display: flex;
    margin-left: 35%;
}

.CPU {
    background-color: rgb(214, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    width: 110px;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-top: 5px;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 43%;
    position: relative;
}

.CPU i{
    margin-left: 15px;
}

.Reserva3 {
    margin-top: 5%;
    font-size: 32px;
    padding-left: 24%;
    color: rgb(220, 220, 220);
}

.Botones {
    display: flex;
    justify-content: space-between;
}

.Acepto {
    display: block;
    background-color: rgb(214, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    width: 100px;
    padding-left: 6px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 5px;
    margin-left: 25%;
    border-radius: 10px;
}

.Declino {
    display: block;
    float: right;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    width: 100px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
    margin-left: 2%;
    margin-right: 180px;
    border-radius: 10px;
}

.Acepto i {
    margin-left: 15px;
    color: white;

}

.Declino i {
    margin-left: 15px;
    color: white;
}